<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls"> <h3>TinyApp</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls"> <h5>My URLs</h5></a>
        <a class="nav-item nav-link" href="/urls/new"> <h5>Create New URL</h5></a>
      </div>
      <div style = "margin-left: auto; margin-right: 0;">
        <% if (user) { %>
          <form class="form-inline" action="/logout" method="POST">
            <div class="form-group mb-2">
              <label for="logout"><b>Logged in as <%= user.email %></b> </label>
              <button type="submit" class="btn btn-primary" style = "margin-left: 20px;">Log Out</button>
            </div>
          </form>
        <% } else { %>  
          <form class="form-inline" action="/register" method="GET">
            <div class="mb-3"></div>
              <div class="form-group mb-2">
                <label for="login"><b>New to TinyApp?</b> </label>
                <button type="submit" class="btn btn-primary" style = "margin-left: 20px;"> Register</button>
              </div>
            </form>
            <form class="form-inline" action="/login" method="GET">
              <div class="form-group mb-2">
                <label for="login"><b>Have an Account?</b> </label>
                <button type="submit" class="btn btn-primary" style = "margin-left: 20px;">Log In</button>
              </div>
            </div>
          </form>
        <% } %> 
      </div>
    </div>
  </nav>
</header>